
.feature-section {
  padding-top: 100px;
  padding-bottom: 100px;
  border-top: 1px solid #e5e5e5;
}

.jumbotron {
  margin-bottom: 0px;
  background-color: #f6f6cc;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f6f6cc;
}



@media (max-width: 768px) {
  .feature-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.hljs {
  background-color: inherit;
}

